* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  position: absolute;
  width: 100%;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
}

.header__content ul {
  list-style: none;
}

.header__content a {
  color: #fff;
  text-decoration: none;
}

.header__content li {
  display: inline;
  padding: 0 26px;
}

.header__content li a {
  text-transform: uppercase;
  font-size: 17px;
  transition: all 0.5s;
}

.header__content li a:hover {
  color: #e62b43;
}

.header__content li.active a {
  color: #e62b43;
}

/* Carousel */
.carousel {
  background-image: url('../images/home_slider.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__content {
  text-align: center;
}

.carousel__content p {
  font-size: 25px;
}

.carousel__content h1 {
  font-size: 75px;
  line-height: 90px;
}

.carousel__content button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 25px;
  margin-top: 20px;
  background-color: #e62b4a;
  color: white;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel__content button:hover {
  background-color: #af2239;
}

.carousel__scroll i {
  margin-top: 50px;
  font-size: 2rem;
  animation: arrowDown 1s linear infinite;
}

@keyframes arrowDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* Service */
.service {
  background-color: #000;
  text-align: center;
  padding: 100px 0;
  letter-spacing: 1px;
}

.service__title p:first-child {
  font-size: 16px;
  color: #e62b4a;
}

.service__title h2 {
  font-size: 50px;
  font-weight: 400;
}

.service__title p:last-child {
  color: #888888;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 700;
}

.service__slider {
  margin-top: 30px;
}

.list__item {
  position: relative;
  padding: 0 10px;
}

.item__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  height: 230px;
  background-color: #fff;
}

.item__container i {
  font-size: 50px;
  color: #888888;
}

.item__container p {
  font-size: 14px;
  color: #848482;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: red;
}

.item__container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  transition: all 0.2s linear;
}

.item__container:hover::after {
  height: 100%;
}

.slick-dots {
  bottom: -35px;
}

/* Blog */
.blog {
  margin: 100px 0;
}

.blog__title {
  text-align: center;
}

.blog__title p:first-child {
  font-size: 14px;
  color: #888888;
}

.blog__title h2 {
  font-size: 50px;
  font-weight: 400;
  color: #000;
}

.blog__title p:last-child {
  font-size: 16px;
  color: #000;
  margin-top: 20px;
  font-weight: 700;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.blog__item {
  position: relative;
}

.blog__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
  transition: 0.5s;
}

.item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.item-10 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.blog__list .blog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  transition: 0.5s;
  opacity: 0;
}

.blog__item .blog__icon {
  position: absolute;
  top: 25px;
  right: 25px;
  transform: translateY(20px);
  transition: 0.8s;
}

.blog__overlay .blog__icon i {
  height: 35px;
  width: 35px;
  color: #000;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
}

.blog__overlay .blog__text {
  position: absolute;
  bottom: 25px;
  left: 25px;
  text-transform: uppercase;
  transform: translateY(20px);
  transition: 0.8s;
}

.blog__overlay .blog__text p:first-child {
  font-size: 16px;
  color: #d0c7c8;
  font-weight: 400;
}

.blog__overlay .blog__text p:last-child {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.blog__item:hover .blog__overlay {
  opacity: 1;
}

.blog__item:hover .blog__icon,
.blog__item:hover .blog__text {
  transform: translateY(0);
  opacity: 1;
}

/* Number */
.number {
  padding: 100px 0;
  background-color: #000;
  color: #fff;
}

.number__content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.number__item {
  width: 25%;
  text-align: center;
}

.number__item p:first-child {
  font-size: 60px;
  font-weight: 300;
}

.number__item p:last-child {
  font-size: 20px;
  color: #888888;
  text-transform: uppercase;
}

/* Experience */
.experience {
  background-image: url(../images/bussiness_img_1.jpg);
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
}

.experience__title {
  text-align: center;
}

.experience__title p:first-child {
  font-size: 14px;
  color: #e62b4a;
  font-weight: 300;
}

.experience__title h2 {
  font-size: 50px;
  font-weight: 400;
}

.experience__title p:last-child {
  font-size: 16px;
  font-weight: 700;
  color: #888888;
  margin-top: 20px;
}

.experience__content video {
  width: 100%;
  margin-top: 30px;
}

/* Contact */
.contact {
  padding: 100px 0;
  color: #000;
}

.contact__title {
  text-align: center;
}

.contact__title h2 {
  font-size: 50px;
  font-weight: 400;
}

.contact__title p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #888888;
  font-weight: 400;
}

.contact__content {
  display: flex;
  padding: 0 30px;
}

.contact__form {
  width: 40%;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact__form input,
.contact__form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}

.contact__form textarea {
  height: 212px;
}

.contact__form button {
  padding: 20px 30px;
  border: 1px solid #000;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

.contact__form button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* Footer */
footer {
  background-color: #000;
}

.footer__content {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright p {
  font-size: 14px;
}

.footer__link a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}

.footer__link a:hover {
  background-color: #e62b4a;
}

/* Back To Top Btn */
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
